<footer>
	<div class="container">
		<div class="row">
			<div class="col-2">
				<ul class="list-group">
					<a href="https://blog.fossasia.org">Blog</a>
					<a href="https://github.com/fossasia">Github</a>
					<a href="https://labs.fossasia.org/#projects">Projects</a>
					<a href="https://coc.fossasia.org/">Code of Conduct</a>
					<a href="./about">About</a>
					<a href="https://blog.fossasia.org/contact">Contact</a>
					<a href="./donate/">Donate</a>
					<a href="#top">Back To Top</a>
				</ul>
			</div>
			<div class="col-7">
				<h2>About FOSSASIA</h2>
				<p>FOSSASIA develops Open Source software and hardware solutions with a global developer community from its base in Asia and organizes Open Technology events around the year. The organization also runs coding programs and development contests. The annual FOSSASIA Summit is the premier Open Technology event in Asia for developers, contributors, start-ups, and technology companies. FOSSASIA was founded in 2009 by <a href="https://twitter.com/mariobehling" style="color:#b82300;text-decoration: underline;">Mario Behling</a> and <a href="https://twitter.com/hpdang" style="color:#b82300;text-decoration: underline;">Hong Phuc Dang.</a></p>
				<p><strong>Interested in becoming a partner or sponsor? <a href="mailto:contact@fossasia.org">Get in touch</a></strong></p>
			</div>
			<div class="col-3">
				<ul class="list-group">
					<li><i class="far fa-envelope"></i><a href="mailto:fossasia@googlegroups.com">fossasia@googlegroups.com</a></li>
					<li><i class="fas fa-phone"></i>+65 83435672</li>
					<li><i class="fas fa-map-marker-alt"></i>FOSSASIA</li>
					<li>Ms. DANG Hong Phuc</li>
					<li>6 Eu Tong Sen Street #05-07 The Central, Singapore 059817</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row icons">
		<a href="https://twitter.com/fossasia"><i class="fab fa-twitter fa-lg"></i></a>
		<a href="https://facebook.com/fossasia"><i class="fab fa-facebook-square fa-lg"></i></a>
		<a href="https://www.linkedin.com/groups/FOSSASIA-3762811"><i class="fab fa-linkedin-in fa-lg"></i></a>
		<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ"><i class="fab fa-youtube fa-lg"></i></a>
		<a href="https://www.flickr.com/photos/fossasia"><i class="fab fa-flickr fa-lg"></i></a>
		<a href="https://www.instagram.com/explore/tags/fossasia/"><i class="fab fa-instagram fa-lg"></i></a>
		<a href="https://github.com/fossasia"><i class="fab fa-github fa-lg"></i></a>
	</div>
</footer>