<div class="footer-container">
    <footer class="classic">
        <div class="container">
            <div class="row ui-sortable">
                <div class="col-sm-2">
                    <ul class="menu">
                        <li><a target="_self" href="http://blog.fossasia.org">Blog</a></li>
                        <li><a target="_self" href="http://github.com/fossasia">Github</a></li>
                        <li><a target="_self" href="http://labs.fossasia.org/#projects">Projects</a></li>
                        <li><a target="_self" href="http://coc.fossasia.org/">Code of Conduct</a></li>
                        <li><a target="_self" href="./about">About</a></li>
                        <li><a target="_self" href="http://blog.fossasia.org/contact">Contact</a></li>
                        <li><a target="_self" href="./donate/">Donate</a></li>
                        <li><a class="inner-link back-to-top" href="#top">Back To Top</a></li>
                    </ul>
                </div>
                <div class="col-sm-7">
                    <span class="lead color-heading">About FOSSASIA</span>
                    <p> FOSSASIA develops Open Source software and hardware for conversational AIs, science and event management with a global developer community from its base in Asia. The organization organizes Open Technology events, runs coding programs and the <a target="_self" href="https://codeheat.org" style="color:#777777">#Codeheat</a> development contest. The annual FOSSASIA Summit is the premier Open Technology event in Asia for developers, contributors, start-ups, and technology companies. FOSSASIA was founded in 2009 by <a target="_self" href="http://twitter.com/mariobehling" style="color:#777777">Mario Behling</a> and <a target="_self" href="http://twitter.com/hpdang" style="color:#777777">Hong Phuc Dang</a>.</p>
                </div>
                <div class="col-sm-3">
                    <ul class="contact-methods">
                        <li><i class="icon pe-7s-mail"></i><span><a id="mailAdd" href="mailto:fossasia@googlegroups.com" target="_self" style="color:#777777">fossasia@googlegroups.com</a></span></li>
                        <li><i class="icon pe-7s-phone"></i><span>+65 83435672</span></li>
                        <li><i class="icon pe-7s-map-marker"></i><span>FOSSASIA</span></li>
                        <li><span>Ms. DANG Hong Phuc</span></li>
                        <li><span>6 Eu Tong Sen Street #05-07 The Central, Singapore 059817</span></li>
                    </ul>
                </div>
            </div>
            <div class="row ui-sortable">
                <div class="col-sm-12 text-center">
                    <ul class="social-profiles">
                        <li><a target="_self" href="http://twitter.com/fossasia"><i class="icon social_twitter"></i></a></li>
                        <li><a target="_self" href="http://facebook.com/fossasia"><i class="icon social_facebook"></i></a></li>
                        <li><a target="_self" href="https://www.linkedin.com/groups/FOSSASIA-3762811"><i class="icon social_linkedin icon-large"></i></a></li>
                        <li><a target="_self" href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ"><i class="icon social_youtube icon-large"></i></a></li>
                        <li><a target="_self" href="https://www.flickr.com/photos/fossasia"><i class="icon social_flickr icon-large"></i></a></li>
                        <li><a target="_self" href="https://www.instagram.com/explore/tags/fossasia/"><i class="icon social_instagram"></i></a></li>
                        <li><a href="https://plus.google.com/108920596016838318216" target="default"><i class="icon social_googleplus"></i></a></li>
                        <li><a target="_self" href="https://github.com/fossasia"><img role="img" data-src="./images/github.png" /><a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
