<footer id="FOOTER_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				<ul id="UL_5">
					<li id="LI_6">
						<a href="http://blog.fossasia.org" id="A_7">Blog</a>
					</li>
					<li id="LI_8">
						<a href="http://github.com/fossasia" id="A_9">Github</a>
					</li>
					<li id="LI_10">
						<a href="http://labs.fossasia.org/#projects" id="A_11">Projects</a>
					</li>
					<li id="LI_12">
						<a href="http://coc.fossasia.org/" id="A_13">Code of Conduct</a>
					</li>
					<li id="LI_14">
						<a href="./about" id="A_15">About</a>
					</li>
					<li id="LI_16">
						<a href="http://blog.fossasia.org/contact" id="A_17">Contact</a>
					</li>
					<li id="LI_18">
						<a href="./donate/" id="A_19">Donate</a>
					</li>
					<li id="LI_20">
						<a href="#top" id="A_21">Back To Top</a>
					</li>
				</ul>
			</div>
			<div id="DIV_22">
				 <span id="SPAN_23">About FOSSASIA</span>
				<p id="P_24">
					FOSSASIA is the premier Free and Open Source technology organization in Asia for developers, designers, start-ups, and contributors. Projects at FOSSASIA range from open hardware, to design, graphics and software. FOSSASIA was established in 2009. The annual FOSSASIA Summit took place in Cambodia, Vietnam and Singapore. FOSSASIA meetup groups exist throughout Asia.<br>

				</p>
<div class="row">
						<div class="col-sm-12 text-center">
							<span><center><b>Interested in becoming a partner or sponsor? <a href="mailto:contact@fossasia.org" target="_self">Get in touch</a></b></center></span>
						</div>
					</div>
			</div>
			<div id="DIV_25">
				<ul id="UL_26">
					<li id="LI_27">
						<i id="I_28"></i>&nbsp;<span id="SPAN_29"><a id="A_30" href="mailto:fossasia@googlegroups.com">fossasia@googlegroups.com</a></span>
					</li>
					<li id="LI_31">
						<i id="I_32"></i>&nbsp;<span id="SPAN_33">+65 83435672</span>
					</li>
					<li id="LI_34">
						<i id="I_35"></i>&nbsp;<span id="SPAN_36">FOSSASIA</span>
					</li>
					<li id="LI_37">
						<span id="SPAN_29">Ms. DANG Hong Phuc</span>
					</li>
					<li id="LI_39">
						<span id="SPAN_40">Xoai Building, 93 Mau Than Street Xuan Khan, Ninh Kieu 9000 Can Tho, Vietnam</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="DIV_41">
			<div id="DIV_42">
				<ul id="UL_43">
					<li id="LI_44">
						<a href="http://twitter.com/fossasia" id="A_45">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>
					<li id="LI_47">
						<a href="http://facebook.com/fossasia" id="A_48"><i class="fa-fa facebook"></i></a>
					</li>
				
					<li id="LI_53">
						<a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ" id="A_54">Youtube<i class="fa fa-youtube-play"></i></a>
					</li>
					
					<li id="LI_62">
						<a href="https://github.com/fossasia" id="A_63">Github<i class="fa fa-github"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
