<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="javascripts/navigationbar.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="images/fever_favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href='stylesheets/top.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/schedule.css' rel='stylesheet' type='text/css'>
    <link href='stylesheets/styles.css' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="shortcut icon" href="fossasia.ico" type="image/x-icon" />
    <link href="https://fossasia.org/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/theme-lava.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fossasia.org/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
</head>
