<header>
	<nav>
		<label for="show-menu" class="show-menu">Show Menu</label>
		<input type="checkbox" id="show-menu" role="button">
		<ul id="menu">
            <li style="float: left;" id="logo-link"><a href="http://fossasia.org/"><img id="fossasia-logo-navbar" src="images/fossasia-logo-light.png" alt=""></a></li>  
			<li class="dropdown" onmouseleave="openDropdown()">
	            <button  class="dropbtn" onmouseover="openDropdown()">FOSSASIA<i class="fa fa-sort-desc fa-lg" aria-hidden="true"></i></button>
	            <ul id="myDropdown" class="dropdown-content">
	            	<li><a href="http://blog.fossasia.org">Blog</a></li>
	            	<li><a href="http://labs.fossasia.org">Labs</a></li>
	            	<li><a href="http://events.fossasia.org">Events</a></li>
	            	<li><a href="http://2017.fossasia.org/">FOSSASIA Summit 2017</a></li>
	            	<li><a href="http://2016.fossasia.org/">FOSSASIA Summit 2016</a></li>
	            	<li><a href="http://2015.fossasia.org/">FOSSASIA Summit 2015</a></li>
	                <li><a href="http://2014.fossasia.org/">FOSSASIA Summit 2014</a></li>
	                <li><a href="http://2013.fossasia.org/">FOSSASIA Summit 2013</a></li>
	                <li><a href="http://2012.fossasia.org/">FOSSASIA Summit 2012</a></li>
	                <li><a href="http://2011.fossasia.org/">FOSSASIA Summit 2011</a></li>
	                <li><a href="http://2010.fossasia.org/">FOSSASIA Summit 2010</a></li>
	            </ul>
	        </li>
	        <li><a href="designers.html">Designers</a></li>
	        <li><a href="exhibition.html">Exhibition</a></li>
	        <li><a href="design.html">Design &amp; Camps</a></li>
	        <li><a href="workshops.html">Workshops</a></li>
	        <li><a href="schedule.html">Schedule</a></li>
	        <li><a href="{{ baseurl }}./#about">About</a></li> 
	        <li id="home-link"><a href="index.html">Home</a></li>
		</ul>
	</nav>
</header>
