    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-lava.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/><header>
    </head>
	<nav>
        <a id="top"></a>

        <div class="nav-container"><nav class="overlay-nav">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <img alt="Logo" class="logo logo-light" src="img/fossasia-long.png">
                                <img alt="Logo" class="logo logo-dark" src="img/fossasia-dark.png">
                            </div>

                            <div class="col-md-10 text-right">
                                <ul class="menu">
                                    <li><a target="_self" href="http://fossasia.org">Home</a></li>
									<li><a target="default" class="inner-link" href="/speaker-registration/">Become a Speaker</a></li>
									<li><a target="_self" href="http://www.eventnook.com/event/fossasia17/register">Tickets</a></li>
									<li><a target="_self" href="./volunteers">Volunteers</a></li><li><a target="_self" class="inner-link" href="#sponsors">Sponsors</a>
									</li><li><a target="_self" href="http://blog.fossasia.org">Blog</a></li>
                                    <li class="has-dropdown"><a href="#">FOSSASIA</a>
                                        <ul class="nav-dropdown">
                                            <li><a target="_self" href="http://labs.fossasia.org">FOSSASIA Labs</a></li>
                                            <li><a target="_self" href="http://fossasia.net">FOSSASIA Network</a></li>
                                            <li><a target="_self" href="http://2016.fossasia.org">FOSSASIA 2016</a></li>
                                            <li><a target="_self" href="http://2015.fossasia.org">FOSSASIA 2015</a></li>
                                            <li><a target="_self" href="http://2014.fossasia.org">FOSSASIA 2014</a></li>
                                            <li><a target="_self" href="http://2012.fossasia.org">FOSSASIA 2012</a></li>
                                            <li><a target="_self" href="http://2011.fossasia.org">FOSSASIA 2011</a></li>
                                            <li><a target="_self" href="http://2010.fossasia.org">FOSSASIA 2010</a></li>
                                            <li><a target="_self" href="http://coc.fossasia.org">Code of Conduct</a></li>
                                        </ul>
                                    </li>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-border"></div>


	</nav>
</header>
<div id="wrapper">
<div id="content">
