<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark" >

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    	<li>
    		  <a class="navbar-brand" href="#">
    <img src="fossasia image.png" width="170" height="40" >
  </a>
    	</li></ul>
    	<ul class = "nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Workshops</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Design & camps</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Designer</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fossasia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Blogs</a>
          <a class="dropdown-item" href="#">Labs</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2017</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2016</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2015</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2014</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2013</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2012</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2011</a>
          <a class="dropdown-item" href="#">FOSSASIA summit 2010</a>
      
        </div>
      </li>
    </ul>

  </div>
</nav>
