	</div>
	
	<div id="side-bar">
		<h1>Partners</h1>
		<a href="http://fossasia.org/" target="_blank"><img class="sponsor" src="images/side_images/fossasia.png"></a>
		<a href="http://libregraphicsmeeting.org/" target="_blank"><img class="sponsor" src="images/side_images/libregraphics.png"></a>
		<a href="http://mbm.asia/" target="_blank"><img class="sponsor" src="images/side_images/mbm_logo.png"></a>
		<a href="http://osp.kitchen/" target="_blank"><img class="sponsor" src="images/side_images/ops-logo.png"></a>
		<a href="http://www.hcmufa.edu.vn/" target="_blank"><img class="sponsor" src="images/side_images/hcmufa.jpg"></a>
		<a href="http://fpt.arena.edu.vn/" target="_blank"><img class="sponsor" src="images/side_images/fpt-arena.gif"></a>
		<a href="http://idesign.vn/" target="_blank"><img class="sponsor" src="images/side_images/idesign.jpg"></a>
		<a href="http://www.trungnguyen.com.vn/index.aspx" target="_blank"><img class="sponsor" src="images/side_images/trung.jpg"></a>

		<hr>

		<h1>Cantho Hotel Partner</h1>
		<a href="http://hotelxoai.com/" target="_blank"><img class="sponsor" id="hotel" src="images/side_images/xoai-mini-hotel.png"></a>


		<a class="friends-href" href="http://fossasia.org/" target="_blank">FOSSASIA</a><br>
		<a class="friends-href" href="http://eventyay.com/" target="_blank">Open Tech Events</a><br>
		<a class="friends-href" href="http://opentechsummit.net/" target="_blank">OpenTechSummit</a><br>
		<a class="friends-href" href="http://hotelxoai.com/" target="_blank">CanTho Open Source Hotel</a><br>
		<a class="friends-href" href="http://libregraphics.asia/" target="_blank">Libre Graphics Indonesia Images</a><br>
		<a class="friends-href" href="http://mbm.asia/" target="_blank">MBM Open Tech Development</a><br>
		<a class="friends-href" href="http://perspektive89.com/" target="_blank">Perspektive89 Berlin</a><br>
		<a class="friends-href" href="http://mariobehling.de/" target="_blank">Open Technology Blog</a><br>
		<a class="friends-href" href="http://meshcon.net/" target="_blank">MeshCon FashionTech Week</a><br>
		<a class="friends-href" href="http://opentechsummit.net/" target="_blank">OpenXLab</a><br>
		<a class="friends-href" href="http://mekongtours.info/" target="_blank">Mekong Tours Fair Travel</a><br>

		<hr>

		<h1>Photos</h1>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/1.jpg"></a></div>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/2.jpg"></a></div>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/3.jpg"></a></div>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/4.jpg"></a></div>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/5.jpg"></a></div>
		<div class="flickr-div"><a href="http://www.flickr.com/search/?q=opendesignweeksasia&m=tags"><img class="flickr-image" src="images/footer_images/6.jpg"></a></div>

	</div>
