<section class="top">
    <img alt="logo" class="logo" src="images/fossasia-logo-light.png"><br>
    <span class="uppercase text-white">FOSSASIA OPEN DESIGN WEEKS ASIA 2011/2012<br/>2nd - 16th April 2012</span>
    <h1 class="large-h1 text-white"><span>"The Open Conversational Web" at Asia's Premier Open Technology Event</span></h1>
    <div class="buttons-top">
        <a href="https://blog.fossasia.org/" class="btn-top btn-1">FOSSASIA Blog</a>
        <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ" class="btn-top btn-2">Watch Talks</a>
  </div>
</section>
<section class="partners" id="partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 main-title">
          <h1>Partners:</h1>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://fossasia.org/" title="fossasia" target="_blank"><img class="sponsor" data-src="images/side_images/fossasia.png"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://libregraphicsmeeting.org/" title="libre graphics" target="_blank"><img class="sponsor" data-src="images/side_images/libregraphics.png"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://mbm.asia/" title="mbm software development" target="_blank"><img class="sponsor" data-src="images/side_images/mbm_logo.png"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
	  <a href="http://osp.kitchen/" title="open source publishing" target="_blank"><img class="sponsor" data-src="images/side_images/ops-logo.png"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://www.hcmufa.edu.vn/" title="http://hcmufa.edu.vn/" target="_blank"><img class="sponsor" data-src="images/side_images/hcmufa.jpg"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://fpt.arena.edu.vn/" title="arena multimedia" target="_blank"><img class="sponsor" data-src="images/side_images/fpt-arena.gif"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://idesign.vn/" title="idesign" target="_blank"><img class="sponsor" data-src="images/side_images/idesign.jpg"></a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="http://www.trungnguyen.com.vn/index.aspx" title="trung nguyen" target="_blank"><img class="sponsor" data-src="images/side_images/trung.jpg"></a>
        </div>
        <hr>
        <div class="col-lg-12 main-title">
          <h1>Cantho Hotel Partner</h1>
        </div>
        <div class="col-lg-12 col-sm-12">
          <a href="http://hotelxoai.com/" target="_blank"><img class="sponsor" id="hotel" data-src="images/side_images/xoai-mini-hotel.png"></a>
        </div>
        <hr>
        <div class="col-lg-12 main-title">
          <h1>Visit:</h1>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a class="friends-href" href="http://fossasia.org/" target="_blank">FOSSASIA</a><br>
   	  <a class="friends-href" href="http://eventyay.com/" target="_blank">Open Tech Events</a><br>
   	  <a class="friends-href" href="http://opensourcedesign.net/" target="_blank">Open Source Design</a><br>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a class="friends-href" href="http://opentechsummit.net/" target="_blank">OpenTechSummit</a><br>
	  <a class="friends-href" href="http://hotelxoai.com/" target="_blank">CanTho Open Source Hotel</a><br>
	  <a class="friends-href" href="http://libregraphics.asia/" target="_blank">Libre Graphics Indonesia Images</a><br>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a class="friends-href" href="http://mbm.asia/" target="_blank">MBM Open Tech Development</a><br>
		  <a class="friends-href" href="http://perspektive89.com/" target="_blank">Perspektive89 Berlin</a><br>
		  <a class="friends-href" href="http://mariobehling.de/" target="_blank">Open Technology Blog</a><br>
        </div>
        <div class="col-lg-3 col-sm-3">
          <a class="friends-href" href="http://meshcon.net/" target="_blank">MeshCon FashionTech Week</a><br>
		  <a class="friends-href" href="http://opentechsummit.net/" target="_blank">OpenXLab</a><br>
		  <a class="friends-href" href="http://mekongtours.info/" target="_blank">Mekong Tours Fair Travel</a>
        </div>
      </div>
    </div>
</section>
