.col-2 ul a {
    margin-top: 15px;
    color: rgb(51, 51, 70) !important;
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.col-2 ul a:visited {
    color: rgb(51, 51, 70) !important;
}
.col-2 ul a:hover {
    color: rgb(51, 51, 70) !important;
}
.col-3 ul {
    list-style-type: none;
}
.col-3 li {
    margin-top: 15px;
}
.col-3 li svg {
    margin-right: 10px;
}
.col-3 li {
    font-size: 17px;
}
.col-3 li a {
    color: #212529 !important;
    font-size: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 900px) {
    .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 730px) and (orientation : portrait) {
    .col-2 {
        text-align: center;
        flex: 0 0 100% !important;
        max-width: 100%;
        display: none;
    }
    .col-7 {
       flex: 0 0 100% !important;
       max-width: 100%;
       margin: 50px 10px;
    }
    .col-3 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }
}
@media only screen and (max-width: 730px) and (orientation : landscape) {
    .col-2 {
        flex: 0 0 25% !important;
        max-width: 20%;
        margin: 50px 0;
        display: block;
    }
    .col-7 {
       flex: 0 0 75% !important;
       max-width: 75%;
       margin: 50px 10px;
    }
    .col-3 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }
}
.row.icons {
    margin-top: 20px;
    width: 400px;
    margin: 50px auto 0 auto;
}
.row.icons a {
    margin: 10px;
}
.row.icons a {
    color: #212529 !important;
    text-align: center;
}
.row.icons a:hover {
    color: #525252 !important;
}
