#FOOTER_1 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    min-height: 452px;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 674.5px 226px;
    transform-origin: 674.5px 226px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 72px 0px 36px;
}/*#FOOTER_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    min-height: 344px;
    text-size-adjust: 100%;
    width: 90%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 585px 172px;
    transform-origin: 585px 172px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 7%;
    margin-top: 0;
    margin-bottom: 0;
    outline: rgb(119, 119, 119) none 0px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 275px;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 585px 137.5px;
    transform-origin: 585px 137.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px -15px;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    height: 200px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 16.66666667%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 97.5px 100px;
    transform-origin: 97.5px 100px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 12px;
}/*#DIV_4*/

@media only screen and (max-width: 950px) {
#DIV_2 {
  width: 98% !important;
  margin: 2% !important;
  margin-top: 0 !important;
}
#DIV_4,#DIV_22,#DIV_25 {
    float: none !important;
}
#LI_44{
    margin-left: 12% !important;
}
#DIV_22{
    width: 90% !important;
}
#DIV_25{
    width: 290px !important;
}
}

@media only screen and (max-width: 350px) {
  #LI_44{
      margin-left: 0 !important;
  }
}

#UL_5 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 200px;
    text-align: left;
    text-size-adjust: 100%;
    width: 150.75px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 75.375px 100px;
    transform-origin: 75.375px 100px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px;
}/*#UL_5*/

#LI_6, #LI_8, #LI_10, #LI_12, #LI_14, #LI_16, #LI_18 {
    bottom: -4px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 13px;
    left: 0px;
    letter-spacing: 1px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 4px;
    width: 118.75px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 59.375px 6.5px;
    transform-origin: 59.375px 6.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 32px 12px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_6, #LI_8, #LI_10, #LI_12, #LI_14, #LI_16, #LI_18*/

#A_7 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 33.875px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 16.9375px 6.5px;
    transform-origin: 16.9375px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_7*/

#A_9 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 47.2656px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 23.625px 6.5px;
    transform-origin: 23.625px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_9*/

#A_11 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 59.1406px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 29.5625px 6.5px;
    transform-origin: 29.5625px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_11*/

#A_13 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 118.75px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 59.375px 6.5px;
    transform-origin: 59.375px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_13*/

#A_15 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 42.5938px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 21.2969px 6.5px;
    transform-origin: 21.2969px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_15*/

#A_17 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 57.9531px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 28.9688px 6.5px;
    transform-origin: 28.9688px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_17*/

#A_19 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 50.9844px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 25.4844px 6.5px;
    transform-origin: 25.4844px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_19*/

#LI_20 {
    bottom: -4px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 13px;
    left: 0px;
    letter-spacing: 1px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 4px;
    width: 150.75px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 75.375px 6.5px;
    transform-origin: 75.375px 6.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 12px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_20*/

#A_21 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 13px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 81.7969px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 40.8906px 6.5px;
    transform-origin: 40.8906px 6.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 11px / 11px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease-out 0s;
}/*#A_21*/

#DIV_22 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 65%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 341.25px 68.5px;
    transform-origin: 341.25px 68.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 15px;
    margin-right: 3%;
}/*#DIV_22*/

#SPAN_23 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 29px;
    text-size-adjust: 100%;
    width: 158.813px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 79.4063px 14.5px;
    transform-origin: 79.4063px 14.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 21px / 29.4px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 12px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_23*/

#P_24 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 326.25px 48px;
    transform-origin: 326.25px 48px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_24*/

#DIV_25 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 25%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 146.25px 137.5px;
    transform-origin: 146.25px 137.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 15px;
}/*#DIV_25*/

#UL_26 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 137.5px;
    transform-origin: 131.25px 137.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px;
}/*#UL_26*/

#LI_27 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 47px;
    text-size-adjust: 100%;
    width: 262.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 23.5px;
    transform-origin: 131.25px 23.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 12px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_27*/

#I_28 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    width: 31.5px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 15.75px 18px;
    transform-origin: 15.75px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 36px / 36px Pe-icon-7-stroke;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_28*/

#I_28:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e639";
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_28:before*/

#SPAN_29 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 31px;
    left: 8px;
    position: relative;
    right: -8px;
    text-align: left;
    text-size-adjust: 100%;
    top: -10px;
    width: 218.234px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 109.109px 15.5px;
    transform-origin: 109.109px 15.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#SPAN_29*/

#A_30 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 31px;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
    width: 218.234px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 109.109px 15.5px;
    transform-origin: 109.109px 15.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border-top: 0px none rgb(119, 119, 119);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 4px;
    transition: all 0.3s ease-out 0s;
}/*#A_30*/

#LI_31, #LI_34 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 41px;
    text-size-adjust: 100%;
    width: 262.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 20.5px;
    transform-origin: 131.25px 20.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 12px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_31, #LI_34*/

#I_32 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    width: 20.25px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 10.125px 18px;
    transform-origin: 10.125px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 36px / 36px Pe-icon-7-stroke;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_32*/

#I_32:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e627";
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_32:before*/

#SPAN_33 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 24px;
    left: 8px;
    position: relative;
    right: -8px;
    text-align: left;
    text-size-adjust: 100%;
    top: -10px;
    width: 104.797px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 52.3906px 12px;
    transform-origin: 52.3906px 12px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#SPAN_33*/

#I_35 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 36px;
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    width: 24.75px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 12.375px 18px;
    transform-origin: 12.375px 18px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 36px / 36px Pe-icon-7-stroke;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_35*/

#I_35:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e638";
    speak: none;
    text-align: left;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_35:before*/

#SPAN_36 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 24px;
    left: 8px;
    position: relative;
    right: -8px;
    text-align: left;
    text-size-adjust: 100%;
    top: -10px;
    width: 161.25px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 80.625px 12px;
    transform-origin: 80.625px 12px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#SPAN_36*/

#LI_37 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 25px;
    text-size-adjust: 100%;
    width: 262.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 12.5px;
    transform-origin: 131.25px 12.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 12px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_37*/

#SPAN_38 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 24px;
    left: 8px;
    position: relative;
    right: -8px;
    text-align: left;
    text-size-adjust: 100%;
    top: -10px;
    width: 71.7813px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 35.8906px 12px;
    transform-origin: 35.8906px 12px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#SPAN_38*/

#LI_39 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 73px;
    text-size-adjust: 100%;
    width: 262.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 36.5px;
    transform-origin: 131.25px 36.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_39*/

#SPAN_40 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 72px;
    left: 8px;
    position: relative;
    right: -8px;
    text-align: left;
    text-size-adjust: 100%;
    top: -10px;
    width: 262.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 131.25px 36px;
    transform-origin: 131.25px 36px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 16px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#SPAN_40*/

#DIV_41 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 69px;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 585px 34.5px;
    transform-origin: 585px 34.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_41*/

@media only screen (min-width: 768px){
    #DIV_41 {
        float: left;
    }
}
@media only screen and (max-width: 768px){
    #DIV_41 {
        margin: 0px;
    }
}
#DIV_41:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_41:after*/

#DIV_41:before {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_41:before*/

#DIV_42 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    height: 69px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 585px 34.5px;
    transform-origin: 585px 34.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 15px;
}/*#DIV_42*/

#UL_43 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    display: inline-block;
    height: 26px;
    text-align: center;
    text-size-adjust: 100%;
    width: 358.859px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 179.422px 13px;
    transform-origin: 179.422px 13px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 36px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
    overflow: hidden;
    padding: 0px;
}/*#UL_43*/

#LI_44, #LI_47, #LI_50, #LI_53, #LI_56, #LI_59 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    height: 26px;
    text-align: center;
    text-size-adjust: 100%;
    width: 20px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 10px 13px;
    transform-origin: 10px 13px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 5% 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_44, #LI_47, #LI_50, #LI_53, #LI_56, #LI_59*/

#A_45, #A_48, #A_51, #A_54, #A_57, #A_60, #A_63 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_45, #A_48, #A_51, #A_54, #A_57, #A_60, #A_63*/

#I_46 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_46*/

#I_46:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e094";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_46:before*/

#I_49 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_49*/

#I_49:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e093";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_49:before*/

#I_52 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_52*/

#I_52:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e09d";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_52:before*/

#I_55 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_55*/

#I_55:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e0a3";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_55:before*/

#I_58 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_58*/

#I_58:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e0a6";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_58:before*/

#I_61 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 20px / 20px ElegantIcons;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_61*/

#I_61:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: "\e09a";
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font-family: FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_61:before*/

#LI_62 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    float: left;
    height: 26px;
    text-align: center;
    text-size-adjust: 100%;
    width: 22.8594px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 11.4219px 13px;
    transform-origin: 11.4219px 13px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14px / 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_62*/

#I_64 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    vertical-align: -15%;
    width: 22.8594px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 11.4219px 10px;
    transform-origin: 11.4219px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 26.6667px / 20px FontAwesome;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.5s ease 0s;
}/*#I_64*/

#I_64:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_64:before*/
#DIV_4,#DIV_22,#DIV_25 {
    margin-top: 200px !important;
}