html, body {
    min-height: 100% !important;
    height: 100%;
    background-color: #EEE;
    margin: 0px;
}

img {
	display: block;
	width: 100%;
	margin: 0;
	margin-top: 3%;
}

h1 {
      font-family: 'Open Sans';
      font-weight: 400;
      color: #333333;
      padding: 20px 0;
      margin-left: -1px;
}
h2 {
      font-family: 'Open Sans';
      color: #333333;
      padding: 15px 0;
      margin-left: -1px;
}

h3 {
	text-align: left;
	font-family: 'Droid Sans';
    padding-top: 10px;
    color: #333333;
}

p {
	font-family: "Open Sans", sans-serif;
      color: #777777;
}

/*Strip the ul of padding and list styling and add shadow*/
#menu {
	list-style-type:none;
	margin: 0 auto;
	padding: 0 25px 0 25px;
	position: fixed;
      width: 100%;
      background: #2f3036;
      box-sizing: border-box;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: right;
}
#home-link {
      float: right;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:105px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	/*background: #e12b00;*/
      color: #d6d6d6;
      text-decoration: none;
}

/*Style for dropdown links*/
li:hover #menu a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover #menu a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li #menu {
	display: none;
}

/*Make dropdown links vertical*/
li #menu li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li #menu li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

#wrapper {
	width: 70em;
	margin: 0 auto;
	max-width: 90%;
      background: white;
      overflow: auto;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#content {
	border-radius: 10px;
	display: block;
      margin: 65px;
	margin-top: 5%;
	width: 58%;
	float: left;
}

.table-div {
      overflow-x: scroll;
      border: 1px solid lightgrey;
}
.table-div th {
      font-family: Open Sans, sans-serif;
      border: none;
      border-bottom: 2px solid grey;

}
.table-div td {
      border: none;
      border-bottom: 1px solid grey;
      text-align: left;
      font-family: Open-Sans, sans-serif;
}
/*Responsive Styles*/

@media screen and (min-width: 20px) and (max-width : 760px){
	/*Make dropdown links appear inline*/
	#menu {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#menu li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display: block;
	}

	#content {
		display: block;
		margin-top: 5%;
		width: 100%;
	}
}

@media screen and (min-width: 760px)  and (max-width: 900px){
	li a {
		min-width: 83px;
		font-size: 0.7em;
	}
}

@media screen and (min-width: 900px)  and (max-width: 1100px){
	li a {
		min-width: 90px;
		font-size: 0.9em;
	}
}

@media screen and (min-width: 1100px)  and (max-width: 1300px){
	li a {
		min-width: 120px;
		font-size: 1em;
	}
}

a {
	text-decoration: none;
	color: #b82300;
}

a:hover {
	text-decoration: underline;
}

.dropbtn {
    color: white;
    width: 122px;
    height: 50px;
    padding: 0;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: #2f3036;
}

.dropbtn i{
	position: absolute;
	top: 13px;
	margin-left: 2px;
}

.dropbtn:focus{
	background-color: black;
	outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li{
	background-color: white;
	display: block;
	padding: 0;
	width: 122px;
	border-top: 1px solid gray
}

.dropdown-content li a{
	color: black;
	background-color: white;
    text-decoration: none;
    display: block;
}

#myDropdown{
	padding: 0;
}

.dropdown-content li a:hover {background-color: #f1f1f1}

.showDropdown {display:block;}

#fossasia-logo-navbar{
	width: 120px; 
	float: left;
	margin-top: 15px;
}

