
.tg  {
      border-collapse:collapse;
      border-spacing:0;
}
.tg td {
      font-size:14px;
      padding:10px 10px;
      overflow:hidden;
      word-break:normal;
}
.tg th {
      font-size:14px;
      font-weight:normal;
      padding:10px 10px;
      overflow:hidden;
      word-break:normal;
}
.tg .tg-s6z2 {
      text-align:center
}
.tg .tg-jq4u {
      font-weight:bold;
      background-color:#ffffff;
      text-align:center
}
.tg .tg-zlxb {
      background-color:#ffffff;
}

