
		#side-bar {
					display: block;
					margin-top: 10%;
					width: 325px;
					float: right;
					padding-right: 10px;
		}

		hr {
			margin-top: 40px;
			color: rgba(00,000,000,0.12);
		}
		#side-bar h1 {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: #2f3036;
			padding: 20px;margin-top: 7%;
		}
		#side-bar .sponsor {
			display: block;
			width: 70%;
			margin: 0 auto;
			margin-top: 5%;
		}

@media screen and (min-width: 20px) and (max-width : 760px) {
	#side-bar {
		display: block;
		margin-top: 5%;
		background-color: #EEE;
		border-radius: 10px;
		width: 90em;
		width: 100%;
		float: right;
		height: 222em;
	}
}

@media screen and (min-width: 760px)  and (max-width: 900px){
	#side-bar h1 {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 900px)  and (max-width: 1100px){
	#side-bar h1 {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 1100px)  and (max-width: 1300px){
	#side-bar h1 {
		font-size: 1.5em;
	}
}

.friends-href {
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	font-family: Open Sans, sans-serif;
}

#hotel {
	margin-bottom: 20px !important;
}
.flickr-div {
	overflow: hidden;
	float: left;
	height: 100px;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 30%;
}
.flickr-image {
	height: 100%;
	width: auto;
}
