


		hr {
			margin-top: 40px;
			color: rgba(00,000,000,0.12);
		}
		#side-bar h1 {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: #2f3036;
			padding: 20px;margin-top: 7%;
		}
		#side-bar .sponsor {
			display: block;
			width: 70%;
			margin: 0 auto;
			margin-top: 5%;
		}

@media screen and (min-width: 20px) and (max-width : 760px) {
	#side-bar {
        display: block;
		margin-top: 5%;
		border-radius: 10px;
		width: 100%;
       float: right;
	}
    #content {
	margin-top: 10% !important;
<<<<<<< HEAD
  	width: 100% !important;
=======

>>>>>>> gh-pages
}
}

@media screen and (min-width: 760px)  and (max-width: 900px){
    		#side-bar {
					display: block;
					margin-top: 10%;
					width: 300px !important;
					float: right;
					position: relative;
					right: -24px;
		}
	#side-bar h1 {
		font-size: 0.7em;
	}
    #content {
	margin-top: 10% !important;
  	width: 60% !important;
  	float: left !important
}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
#side-bar {
					display: block;
					margin-top: 10%;
					width: 300px !important;
					float: right;
					position: relative;
					right: -24px;
		}
    #content {
	margin-top: 10% !important;
  	width: 100% !important;
}
}


@media screen and (min-width: 900px)  and (max-width: 1100px){
    		#side-bar {
					display: block;
					margin-top: 10%;
					width: 300px !important;
					float: right;
					position: relative;
					right: -24px;
		}
	#side-bar h1 {
		font-size: 0.9em;
	}
    #content {
	margin-top: 10% !important;
  	width: 60% !important;
  	float: left !important;
}
}

@media screen and (min-width: 1100px)  and (max-width: 1300px){
    		#side-bar {
					display: block;
					margin-top: 10%;
					width: 300px !important;
					float: right;
					position: relative;
					right: -24px;
		}
	#side-bar h1 {
		font-size: 1.5em;
	}
    #content {
	margin-top: 10% !important;
  	width: 70% !important;
  	float: left !important;
}
}

.friends-href {
	text-align: center;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	font-family: Open Sans, sans-serif;
}

#hotel {
	margin-bottom: 20px !important;
}
.flickr-div {
	overflow: hidden;
	float: left;
	height: 100px;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 30%;
}
.flickr-image {
	height: 100%;
	width: auto;
}

#content img {
  	width: 100%;
}
body {
	background: #fff;
	overflow-x: hidden;
}
a {
	color: #b82300;
}
a:hover {
	color: #b82300 !important;
}
#wrapper .row {
	padding: 7vh 30px 40px 30px;
}
footer {
	background: #efefef !important;
	padding: 50px 0 !important;
}
.nav-link:hover {
    color: #dedede !important;
}
.nav-link {
    color: #fff !important;
}
* {
	font-family: 'Open Sans';
}
h1 {
	font-weight: 400;
	color: #333333;
	padding: 20px 0;
	margin-left: -1px;
	font-size: 32px;
}
p {
	color: #777777;
	font-size: 14px;
}
h2 {
	font: normal normal normal normal 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.col-7 p {
	font: normal normal normal normal 14px/ 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bg-dark {
	background-color: #2f3036 !important;
}
