/*On mobile*/
@media only screen and (max-width: 414px) {
  /*body*/
  .wrapper {
    padding: 30px;
  }
  body {
    width: 100%;
  }
  /*header*/
  .uppercase.text-white, .large-h1.text-white {
    padding: 0px 25px 0px 25px;
  }
  i.icon.icon_menu {
    padding-right: 30px;
  }
  /*minimalize partners sections*/
  section#partners.partners {
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  .col-lg-3.col-sm-6 {
    width: 180px;
  }
  img.sponsor {
    height: 50px;
    padding-left: 15px;
  }
  /*Minimalize link section*/
  .col-lg-3.col-sm-3 {
    width: 180px;
    height: auto;
  }
  /*social profiles*/
  .social-profiles {
    width: 400px;
    padding-left: 20px;
  }
  ul.social-profiles li {
    margin-right: 25px;
  }
}
/*Ipad/Tablet*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  body{
  width: 780px;
}
  .wrapper {
    padding: 30px;
  }
  .uppercase.text-white, .large-h1.text-white {
    padding-left: 30px;
    padding-right: 30px;
  }
}
