.top {
  background-image: url(../images/fossasia2016.jpg);
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 130px;
  padding-bottom: 320px;
  z-index: -2;
}
.top:before {
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
}
.partners {
  text-align: center;
  margin-bottom: 100px;
  background-color: #eee;
}
.partners .main-title  {
  margin-top: 0;
}
.buttons-top {
  text-align: center;
}
.btn-top {
  display: inline-block;
  min-width: 150px;
  padding: 13px 0 14px 0;
  color: #fff;
  border-radius: 25px;
  line-height: 1;
  font-weight: 600;
  transition: 0.5s;
  font-size: 15px;
}
.btn-1 {
  background-color: #e12b00;
  border: 3px solid #e12b00;
}
.btn-2 {
  border: 3px solid #fff;
  margin-left: 16px;
}
.btn-top:hover {
  text-decoration: none;
}
.btn-1:hover {
  background-color: #c82600;
  border-color: #c82600;
  color: #fff !important;
}
.btn-2:hover {
  background-color: #fff;
  color: #f82f00;
}
hr {
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



/*@media (min-width: 768px) {
  .buttons-top {
    top: 100%;
}*/
/*@media (min-width: 768px) {
  .buttons-top {
    top: 90%;
  }
}*/
